@charset 'utf-8';

/* scroll common */
.main {
  flex: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}
.horizontal_wrap {
  display: flex;
  height: 100%;
  /* padding-left: 20px; */
}
.page {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-shrink: 0;
  flex: 0 0 100%;
  height: 100%;
}

/* PAGE1 */
.page1 {
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}
.album_container {
  flex-direction: column;
}
.album_stage {
  perspective: 2000px;
  margin: 30px 0;
}
.album_book {
  position: relative;
  width: 360px;
  height: 260px;
  transform-style: preserve-3d;
  cursor: pointer;
}
/* COVER */
.album_cover {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #faf9f6;
  border-radius: 8px;
  transform-origin: left;
  transition: transform 0.9s ease;
  z-index: 3;
  /* 종이 질감 */
  background-image:
    repeating-linear-gradient(-45deg,
      rgba(0, 0, 0, 0.015),
      rgba(0, 0, 0, 0.015) 1px,
      transparent 1px,
      transparent 4px);
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.10);
}
.album_cover p {
  letter-spacing: 3px;
  opacity: 0.6;
}
.album_cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background: linear-gradient(to right,
      #e5e3df,
      #f7f6f3);
  border-radius: 0 6px 6px 0;
}
.album_inside {
  position: absolute;
  inset: 0;
  background: #e4e4e4;
  border-radius: 8px;
  padding: 16px;
  z-index: 1;
}
.photo_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.photo_grid img {
  border-radius: 4px;
  background: #ccc;
}
.album_book:hover .album_cover {
  transform: rotateY(-25deg);
}
.album_book.open .album_cover {
  transform: rotateY(-150deg);
}
/* BTN */
.arrow_btn {
  font-size: 2.8rem;
  color: #444;
  cursor: pointer;
  animation: arrow_move 1.6s infinite ease-in-out;
}
@keyframes arrow_move {
  0% {
    transform: translateX(0);
    opacity: 0.5;
  }
  50% {
    transform: translateX(12px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
}

/* PAGE2 */
.page2,
.page3 {
  width: 100%;
  height: 90%;
  background: #f3f3f3;
  padding: 20px 0;
}
.scroll_container {
  display: inline-block;
  width: 100vw;
  height: 100%;
  padding: 0 50px;
  
}
.inner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
}

.memorabilia {
  position: relative;
  width: 100%;
  height: 100%;
}
.string {
  position: absolute;
  height: 2px;
  background: #ccc;
  transform-origin: left;
}
.string_1 {
  top: 160px;
  left: 0;
  width: 100%;
  transform: rotate(-5deg);
}
.string_2 {
  top: 460px;
  left: 0;
  width: 100%;
  transform: rotate(2deg);
}
.photo {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 200px; height: 250px;
  background: #f5f5f5;
  padding-top: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transform-origin: center;
  transition: box-shadow 0.3s ease;
}
.photo::after {
  content: '';
  position: absolute;
  top: 3px;
  width: 10px; height: 10px;
  border-radius: 50%;
  background: #ccc;
}
.photo img {
  width: 180px;
  height: 180px;
  /* display: block; */
  background: #ccc;
}
.p1 {
  top: 140px;
  left: 100px;
  transform: rotate(3deg);
}
.p2 {
  top: 100px;
  left: 480px;
  transform: rotate(-8deg);
}
.p3 {
  top: 70px;
  right: 560px;
  transform: rotate(2deg);
}
.p4 {
  top: 30px;
  right: 200px;
  transform: rotate(6deg);
}
.p5 {
  bottom: 100px;
  left: 180px;
  transform: rotate(-5deg);
}
.p6 {
  bottom: 90px;
  left: 520px;
  transform: rotate(5deg);
}
.p7 {
  bottom: 80px;
  right: 520px;
  transform: rotate(-4deg);
}
.p8 {
  bottom: 70px;
  right: 160px;
  transform: rotate(-3deg);
}

/* PAGE3 */

/* PAGE4 */


